



    $background: #F6F7FB;      // 全局背景颜色
    $backgroundColor: #070A0E;   // MAX 背景色系
    $color:#0F1730;           //  主题色系
    $colorDtial: #878B97;     // 主体辅助色系
    $globeBgColor: #05C98E;     //
    $btncolor:#FFFFFF;
    $disabledcolor: #B7BFC8;
    $colornum:#E5EBF2;
    $colorsize:#A6AEB7;
  
    
    
