



    $background: #F6F7FB;      // 全局背景颜色
    $backgroundColor: #070A0E;   // MAX 背景色系
    $color:#0F1730;           //  主题色系
    $colorDtial: #878B97;     // 主体辅助色系
    $globeBgColor: #FC6446;     //
    $btncolor:#FFFFFF;
    $disabledcolor: #B7BFC8;
    $colornum:#E5EBF2;
    $colorsize:#A6AEB7;
  //background: #FC6446;背景
  //color: #FC6446;字体
  //background: linear-gradient(122deg, #FA7447 0%, #FE4943 100%);按钮
  //05c98e
    
    
