html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-family: PingFangSC-Regular, PingFang SC;
 vertical-align: baseline;
 box-sizing: border-box;


}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input:disabled {
    cursor: not-allowed;
}
a{
    text-decoration:none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input,button{
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}
img{
    vertical-align: middle;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
    overflow: hidden;
}
.cursor{
    cursor: pointer;
}
.clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
.container{
    height: calc(100vh - 72px);
    width: 100%;
    overflow-y: auto;
}
.container::-webkit-scrollbar{
    width: 0;
}
html,body{
    background-image: radial-gradient( #282824 0%, #1A1918 100%);
    font-family: PingFangSC-Regular, PingFang SC;
    min-height: 100vh;
}
.footer{clear:both;font-size:13px;color:#B7B7B7;line-height:100%;text-align:center;padding:21px 0;}
.homeContainer{
    width:1110px;
    margin:30px auto;
    height:calc(100vh - 55px - 30px -80px);
}    
.pagination{
    float:right;
    margin-top:25px;
}
.el-pagination .btn-next, .el-pagination .btn-prev{background:#212121;
    box-shadow: 0px 3px 6px 0px #000000;
    border-radius: 3px;
    border: 1px solid #323232;width: 50px;
    height: 50px;
    margin-right:20px;cursor: pointer;}
.el-dialog, .el-pager li{
    width: 50px;
    height: 50px;
    background:#212121;
    box-shadow: 0px 3px 6px 0px #000000;
    border-radius: 3px;
    border: 1px solid #323232;
    line-height:50px;
    color:#B7B7B7;
    margin-right:20px;
}  
.el-pager li.active{color:#fff;background: linear-gradient(316deg, #D98600 0%, #FBBA45 100%);}
.el-pagination button:disabled{background:#212121;}
.el-pager .more::before{line-height:50px;color:#fff;}  
.el-pagination__editor.el-input{width: 75px;
    height: 30px;
    background: #252525;
    box-shadow: 2px 4px 8px 0px #151515, -2px -2px 4px 0px #1E1E1E;
    border-radius: 3px;
    border: 1px solid #323232;}
.el-pagination__editor.el-input .el-input__inner{height:30px;line-height:30px;background:none;border:none;}
.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon{color:#B7B7B7;}

.el-button.btn{
    width:100%;
    height:50px;
    border-radius:12px;
    background:#30694B;
    font-size:16px;
    color:#C4C2BE;
    border:none;
    margin-top:30px;
}
.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover{
    background:#30694B;
    color:#C4C2BE;
}

@media screen and (max-width: 750px) {
    #app{
        .container{
            
        }
    }
    .container{margin-top:70px;}
    html,body{
        height: 100%;
        // max-width: 480px;
        // width: 480px;
        font-size: 18px;
        text-size-adjust: 100%;
        text-rendering: optimizeLegibility;
    }

    .stake_list{
        justify-content: space-around !important;
    }
    .homeContainer{
        padding:0 15px;
        width:auto;
    }
    .pagination{
        float: inherit;
        .el-pagination__jump{
            display:block !important;
            margin-left:0;
            margin-top:10px;
        }
    }
    .el-pagination{
        white-space: inherit;
        .el-pager{
            width:62%;
        }
    }
    .el-dialog, .el-pager li{
        margin-right:14px;
        margin-bottom:10px;
    }
    .el-pagination .btn-next, .el-pagination .btn-prev{
        width: 30px;
        height: 30px;
        padding-right:0;
    }
    .el-dialog, .el-pager li{
        width: 30px;
        height: 30px;
        line-height:30px;
    }
}
@font-face { // 正常
    font-family: roboto; 
    src:url('./font-face/Roboto-Normal.ttf');
}
@font-face {  // 粗体
    font-family: roboto-mediumitalic; 
    src:url('./font-face/roboto-medium.ttf');
}
@font-face { // 细体
    font-family: roboto-thin; 
    src:url('./font-face/roboto-thin.ttf'); 
}
@font-face {  // 加粗斜体
    font-family: roboto-mediumitalice;
    src:  url('./font-face/roboto-mediumitalic.ttf');
}

