.pool-box2 {
  background: #fff;
   border-radius: 0 0 20px 20px;
    min-height: 206px;
    overflow: hidden;
  .pool_boxbg{
    display: flex;
    flex-direction: column;
    height: 134px;
    padding-left: 20px;
    background: #fff;
    // background: url(../../assets/img/pool_bg.png) no-repeat;
    // background-size: 240px 219px;
    // background-position: right bottom;
    
  }
  
  .pool-p1 {
    width: 360px;
    height: 20px;
    font-size: 18px;
    font-family: roboto-mediumitalic;
    font-weight: 400;
    color: #a6aeb7;
    line-height: 21px;
    margin-top: 32px;
  }
  .pool-p2 {
    width: 380px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    
    color: #0F1730;
    line-height: 21px;
    margin-top: 32px;

    .pool-p3 {
      width: 76px;
      height: 20px;
      font-size: 18px;
      font-family: roboto-mediumitalic;
      font-weight: 400;
      color: #FC6446;
      line-height: 21px;
    }
  }

  .pool-butt {
    // width: 100%;
    display: flex;
    justify-items: center;
    padding:0 20px;
    padding-top: 30px;
    .pool-p {
    // margin: auto 0;
    margin-top: 10px;
    width: 146px;
    height: 21px;
    font-size: 18px;
    font-family: roboto-mediumitalic;
    font-weight: 500;
    color: #0F1730;
    line-height: 21px;
     }
    .pool-butt1 {
      margin-left: 21px;
      width: 200px;
    }
    .pool-butt2 {
      margin-left: 12px;
      width: 200px;
    }
  }
}

.pool-top {
  box-sizing: content-box;
  padding-top: 40px;
  margin-bottom: 16px;
  width: 52px;
  height: 27px;
  margin: 0 auto;
  overflow: hidden;
  color: #0f1730;
  font-size: 24px;
  margin-bottom: 9px;
}
.pool-box {
  margin: 0 auto;
  width: 480px;
  height: 506px;
  border-radius: 20px;
  margin-top: 119px;
}

.pool-box1 {
  width: 100%;
  height: 187px;
  background: url(../../assets/img/bg_pool.png) no-repeat;
  background-size: cover;
  background-size: 100% 187px;
}
.pool-box1 p:nth-child(1) {
  box-sizing: content-box;
  padding-top: 32px;
  margin-left: 20px;
  font-size: 20px;
  font-family: roboto-mediumitalice;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 24px;
  
}
.pool-box1 p:nth-child(2) {
  padding: 0 20px;
  margin-top: 12px;
  // width: 660px;
  // margin-left: 20px;
  line-height: 19px;
  font-size: 16px;
  font-family: roboto;
  font-weight: 400;
  color: #FFFFFF;
}
.pool-box1 p:nth-child(3) {
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: underline;
    height: 19px;
    font-size: 16px;
    font-family: roboto-mediumitalic;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 19px;
}
.title {
  height: 72px;
  line-height: 72px;
  border-bottom: 1px solid #e5ebf2;
  padding: 12px 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  .content_text {
    height: 22px;
    font-size: 22px;
    font-family: roboto-mediumitalice;
    color: #070A0E;
    line-height: 22px;
    margin-left: 8px;
  }
  img {
    vertical-align: middle;
    cursor: pointer;
  }
  .lt_icon {
    margin-right: 12px;
  }
  .rg_icon {
    img {
      width: 32px;
      height: 32px;
    }
  }
}

.box_sizes {
  background: #f4f5fa;
  border-radius: 16px;
  // padding: 29px 0;
  font-family: roboto-mediumitalic;

}
.v_alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 480px;
  height: 438px;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  .alert_type {
    .success {
      margin-top: 97px;
    }
    .failure {
      margin-top: 60px;
    }
  }
  .alert_size {
    font-size: 18px;
    font-family: roboto-mediumitalic;
    color: #e5ebf2;
    margin-top: 7px;
    text-align: center;
  }
  .alert_btn {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid#FC6446;
    margin: 0 auto;
    font-size: 20px;
    font-family: roboto-mediumitalic;
    color:#FC6446;
    background: none;
  }
  .failure_size{
    font-size: 14px;
    font-family: roboto-mediumitalic;
    color: #878B97;
    margin-top: 24px;
    margin-bottom: 8px;
  }
}
.lt_box{
  flex: 1;
}


